*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(4, 4, 76);
}
.container{
    padding: 15px;
    height: 55vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
}
.container h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}
#text{
    padding: 12px 32px;
    border: solid rgb(33, 5, 128) 1px;
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: left;
}
#button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(23, 163, 23);
    margin: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.1s;
}
#button:hover{
    background-color: rgb(14, 90, 14);
}
.imgBox{
    max-height: 0px;
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.1s;
}
#qrImage{
    width: 100px;
    padding: 10px;
    height: 100px;
}
.imgBox .show-img{
    max-width: 300px;
    margin: 10px auto;
    border: solid rgb(54, 52, 52) 1px;
}
.error{
    animation:shake 0.1s linear 10;
}
@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(2px)X
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0px);
    }
}